@model IEnumerable<AdminDashboard.BLL.Models.DepartmentsVM>
@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>
<br />
<br />
<a asp-action="Create" asp-controller="Department" class="btn btn-info">Create New Department</a>
<br />
<br />
<table class="table table-hover table-striped table-responsive table-condensed table-bordered text-center">
    <tr style="background-color:cadetblue; text-align:center">
        <th>Id</th>
        <th>Name</th>
        <th>Code</th>
        <th>Actions</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Code</td>
            <td>
                <a asp-action="Details" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                <a asp-action="Update" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                <a asp-action="Delete" asp-controller="Department" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>


        </tr>
    }
</table>

